<div id="<%= dom_id list %>">
  <p>
    <strong>Name:</strong>
    <%= list.name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= list.last_name %>
  </p>

  <p>
    <strong>Rut:</strong>
    <%= list.rut %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= list.phone %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= list.location %>
  </p>

  <p>
    <strong>Avatar:</strong>
    <%= list.avatar %>
  </p>

  <p>
    <strong>User:</strong>
    <%= list.user_id %>
  </p>

  <p>
    <strong>Done:</strong>
    <%= list.done %>
  </p>

</div>
